html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #f3f1f1;
}

.app {
  position: relative;
  height: 100%;
  padding: 10px 10px;
}

.button {
  cursor: pointer;
  color: white;
  padding: 8px;
  font-size: 14px;
  color: black;
  border: 1px solid black;
}

.info {
  background-color: DodgerBlue;
  border-color: dodgerblue;
  color: white;
}

.info:hover {
  background-color: rgb(109, 180, 252);
  border-color: rgb(109, 180, 252);
}

.input-text {
  margin-right: 10px;
  padding: 8px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

.autoComplete {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}

.list {
  margin-top: 8px;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 5px;
  padding: 5px;
}

.item {
  padding: 3px 8px;
  border-bottom: 1px solid #ccc;
}
.item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.item:last-child {
  border-bottom: none;
}

.selected {
  background-color: dodgerblue !important;
}
